.chat-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sent {
    background-color: red;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 5px;
}

.received {
    background-color: green;
    width: 50%;
    border-radius: 5px;
}

.message-card {
    padding: 10px;
    border-radius: 10px;
}