.chat-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sent {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.message-card {
    padding: 10px;
    border-radius: 10px;
}